body{
	margin: 0px;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-color: #24262b;
	height: 20px;
}
	

#logo{
	background-color: transparent;
	width: 150px;
	height: 80px;
	z-index: -1000;


}
#a{
	width: 100%;
	height: 800px;
	position: absolute;
	top: 600px;
	z-index: -100000;

}
nav{
	position: relative;
	margin:0px;
	margin-top: 0px;
   background:transparent;
	height:80px;
	width: 100%;
	position: fixed;
	z-index: 1000000;
}
nav ul{
	position: fixed;
	z-index: 1000000px;
	float: left;
	margin-left: 80px;
}
nav ul li{
	display: inline-block;
	line-height: 40px;
	margin:0px;
}

nav ul li a{ 
	position: relative;
	top: -80px;
	left:170px;
	text-decoration: none;
	padding: 8px 20px;
	border-radius: 30px;
	background: transparent;
	font-family: ARIAL;
	font-weight: bold;
	transition:0.4s ;
	cursor: pointer;
	color:gray ;
	box-shadow: 1px 1px 1px 1px red;
}
nav ul li a:hover{
	color: white;
	background-color: blue;
}.ar{
	line-height: 10px;
	position: relative;
	left: 230px;
	top: -80PX;
	text-decoration: none ;
	font-size:22px;
	width: 160px;
	height: 40px;
	background:transparent;
	padding: 10px 25px;
	border-radius: 10px;
	color: white;
	display: inline-block;
	text-align: center;
	font-family: ARIAL;
	box-shadow: 1px 1px 1px 1px red;
	box-sizing: border-box;
	cursor: pointer;
}
.ar:hover{
	color: white;
	background-color: blue;
}
#PLA{
	position: absolute;
	top: 80px;
	left: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;

}

#I{
	width: 100%;
	height: 500px;
	position: absolute;
	top: 200px;

}
.FOOTER{
	background-color: #24262b;
	padding:60px 0;
	position: absolute;
	width: 100%;
	top: 680px;
	height: 20px;
	margin-bottom: 0px;

}
.footer-cool{
	width: 25%;
	padding: 0 15px;
	
}
.footer-cool h4{
	font-size: 18PX;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
}
.footer-cool h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-cool ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-cool ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-cool ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}
.footer-cool .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-right: 10px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-cool .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
	.footer-cool{
		width: 50%;
		margin-bottom: 30px;
	}
}
@media(max-width: 575px){
	.footer-cool{
		width: 100%;
	}
}
.social-links{
	position: relative;
	top: -500px;
	left: 850px;
}
#follow{
	position: relative;
	top: -540px;
	left: 900px;
}
.FOT{
	position: relative;
	left:-30px;
	
	
}
.FOTT{
	position: relative;
	left:550px;
	top: -360px;
}
.FOTTT{
	position: relative;
	left:250px;
	top: -180px;
}
#H4{
	position: relative;
	top: -180px;
	left: 280px;
}
#cont{
	position: relative;
	top: -360px;
	left: 580px;
}